body{
font: 15px/1.5 Arial,Helvetica,sans-serif;
padding:0;
margin:0;
background-color: #ffffff; 
} 

/*Global */
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:25px;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    background:#000000;
    color:#ffffff;
    
}

.dark{
    padding: 15px;
    background: #000000;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 70px;
}

/* Header **/
Header{
    background:#87CEFA;
    color:#000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:30px;
    min-height:70px;
    border-bottom:#000000 3px solid;
}

header a{
    color:#000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

#boxes h1{
    text-align: center;
}


header li{
    display:inline;
    padding:0px 35px 0px 35px;
}

header #branding{
    float:left;
}


header #branding h1{
    margin:0;
}

Header nav{
    float:left;
    margin-top: 10px;
}

header #shoppingcart{
    text-align: Right;
}




header .highlight{

    color:#ffffff;
    font-weight:initial;
} 

header .current a{
    color: #ffffff;
    font-weight:inherit;
}

header a:hover{
    color:#ffffff;
    font-weight: normal;
}


/* showcase */
#showcase{
    min-height:350px;
    background:url('../img/Background.jpg') no-repeat 0;
    background-position: center;
    text-align: center;
    columns: #000000;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;  
    margin-bottom: 10px;
}

#newsletter{
    padding:15px;
    color:#000000;
}


#newsletter form{
    text-align: center;
    margin-top: -45px;
    border:0;
    padding-left: 20px;
    padding-right: 20px;

}
/*boxes */

#boxes{
    margin-top:30px;

}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding:10px;
    
}

#boxes .box img{
    width:150px;
}


footer{
    padding:20px;
    margin-top: 20px;
    color: #ffffff;
    background-color:#000000;
    text-align: center;

}

/* Sidebar*/

aside#sidebar{
    float:right;
    width:30%;
    margin-top: 10px;
}

/*main=col*/
article#main-col{
    float: left;
    width: 65%;
}

/*Contact*/

/* Products*/

div.Products{
    width: 1000px; display: table; margin: auto;
}

div.Products h3{
    float: left;width: 100%; color: #000000;
    text-align: center;
    background: transparent;
    margin-top: 30px; line-height: 41px;
    text-indent: 40px;
    font-weight: bold; font-size: 40px;
    padding-right: 20px;
}


div.Products ul li{
    float: left; padding: 0px; margin: 0px; list-style: none;
}
div.Products ul{
    width: 100%;
    margin-top: 0px;
}
div.Products ul li{
    width: 20%;
    float: right;
    height: 330px;
    background:#ffffff;
    margin: 40px 40px 0px 55px;
    box-sizing: border-box;
     
}
div.Products ul li .title{
    width: 100%;
    height: 40px;
    text-align: center;
}
div.Products ul li .title:hover{
    background: #66ffff;
    color: #fff;
}

div.Products ul li .centred{
    width: 100%;
    height: 40px;
    background-color: transparent;
    text-align: center;
    font-weight: bolder;

}
.button_2 {
    background-color: #3399ff;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;}
/* Checkout */


.product-image {
    float: left;
    width: 20%;
  }
  
  .product-details {
    float: left;
    width: 37%;
  }
  
  .product-price {
    float: left;
    width: 12%;
  }
  
  .product-quantity {
    float: left;
    width: 10%;
  }
  
  .product-removal {
    float: left;
    width: 9%;
  }
  
  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }
  
  /* This is used as the traditional .clearfix class */
  .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
  .group:after,
  .shopping-cart:after,
  .column-labels:after,
  .product:after,
  .totals-item:after {
    content: '';
    display: table;
  }
  
  .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
  }
  
  .group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
  }
  
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '$';
  }
  
  /* Body/Header stuff */
  body {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 100;
  }
  
  label {
    color: #aaa;
  }
  
  .shopping-cart {
    margin-top: -45px;
  }
  
  /* Column headers */
  .column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
  }
  
  /* Product entries */
  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .product .product-image {
    text-align: center;
  }
  .product .product-image img {
    width: 100px;
  }
  .product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .product .product-quantity input {
    width: 40px;
  }
  .product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
  }
  .product .remove-product:hover {
    background-color: #a44;
  }
  
  /* Totals section */
  .totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
  }
  .totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
  }
  .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
  }
  .totals .totals-item-total {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  
  
  .checkout:hover {
    background-color: #494;
  }

  #Checkout {
   float: right;
}

#Paypal {
    
    border: #000000;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    float:right;
    
}
.thankyou{
    text-align: center;
}
  /*converse*/
div.Products{
    width: 1000px; display: table; margin: auto;
}

div.Products h3{
    float: left;width: 100%; color: #00bfff;
    background: transparent;
    margin-top: 20px; line-height: 41px;
    text-indent: 40px;
    font-weight: bold; font-size: 40px;
    padding-right: 20px;
}
div.Products ul,
div.Products ul li{
    float: left; padding: 0px; margin: 0px; list-style: none;
}
div.Products ul{
    width: 100%;
    margin-top: 0px;
}
div.Products ul .centred{
    width: 100%;
    height: 40px;
    background-color:transparent;
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
}
div.Products ul .
div.Products ul .para{
    font-size: 200px;
    padding-top: 100px;
}
/*login*/
body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #33ccff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}



.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/*product*/
div.Products_1{
    width: 1000px; display: table; margin: auto;
}

div.Products_1 h3{
    float: left;width: 100%; color: #000000;
    text-align: center;
    background: transparent;
    margin-top: 30px; line-height: 41px;
    text-indent: 40px;
    font-weight: bold; font-size: 40px;
    padding-right: 20px;
}




.Box1 ,.Box2 {
   display: inline-block;
   
   height: 100px;
   

   margin: 50px 60px;
  }

 
.colors {   
-webkit-box-flex: 1;    
-webkit-flex-grow: 1;   
-ms-flex-positive: 1;   
flex-grow: 1;
}
 
 .colors {   
text-transform: UPPERCASE;  
font-weight: bold;
}
 

 
.color {    
display: inline-block;  
vertical-align: middle; 
margin-right: 10px; 
height: 2em;    
width: 2em; 
border-radius: 2px;
}
 
.color:first-of-type {  
margin-left: 20px;
}
 
.add-to-cart {   
background: #66ccff;    
width: 40%;
height : 40px;   
border: none;   
text-transform: UPPERCASE;  
font-weight: bold;  
color: #fff;    
text-decoration:none; 

}
.Pink {   
background: #ffc0cb;
}
.Blue {    
background: #0000ff;

}
.Grey { 
background: #808080;
}
div.Products_2{
    width: 1000px; display: table; margin: auto;}
span.Box2_1{
margin:10px;}

input[type=number]{
width: 50%;}
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
 